.jp-fairwidget {
  display: flex;
  flex-direction: column;
  color: var(--jp-ui-font-color1);
  background:var(--jp-layout-color1);
  /* This is needed so that all font sizing of children done in ems is
   * relative to this base size */
  font-size: var(--jp-ui-font-size1);
  overflow: auto;
}
